.collapse.navbar-collapse {
    float: right;
}
#navigation .navbar-inverse .navbar-nav > li.active > a, .navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    background: transparent;
    color: #f6be60;
}#navigation .navbar-inverse .navbar-nav > li.active:before {
     opacity: 1;
 }
#navigation .nav_top_rt li a:hover, #navigation .nav_top_rt li.active a {
    border-radius: 0px !important;
}
#navigation .nav_top_rt li.active:before {
    opacity: 0 !important;
}
#sidebar li {
    padding: 0
}
#sidebar li a {
    display: block;
    padding: 14px;
}
#sidebar li {
    position: relative;
}

#sidebar li span {
    float: none;
    position: absolute;
    top: 14px;
    right: 10px;
}
a:hover {
    transition: none;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
    background: transparent;
    color: #f6be60;
}
